<div class="columns is-centered  is-vcentered fulheight">
    <div class="column is-narrow">
        <div class="box">
            <h1 class="title">
                T-Shirt Size Capacity Calculator
            </h1>
            <div class="columns">
                <div id="t-shirt-column" class="column">
                    {{> t_shirt_input.hbs t_shirt_size="XXS" }}
                    {{> t_shirt_input.hbs t_shirt_size="XS" }}
                    {{> t_shirt_input.hbs t_shirt_size="S" }}
                    {{> t_shirt_input.hbs t_shirt_size="M" }}
                    {{> t_shirt_input.hbs t_shirt_size="L" }}
                </div>
                <div class="column">
                    {{>  capacity-and-threshold.hbs }}
                </div>
            </div>
            {{> result.hbs }}
        </div>
    </div>
</div>