<div class="columns is-centered  is-vcentered fulheight">
    <div class="column is-narrow">
        <div class="box">
            <h1 class="title">
                T-Shirt Size Capacity Calculator
            </h1>
            <div class="columns">
                <div id="t-shirt-column" class="column">
                    {{> t_shirt_input.hbs t_shirt_size="XXS" }}
                    {{> t_shirt_input.hbs t_shirt_size="XS" }}
                    {{> t_shirt_input.hbs t_shirt_size="S" }}
                    {{> t_shirt_input.hbs t_shirt_size="M" }}
                    {{> t_shirt_input.hbs t_shirt_size="L" }}
                </div>
                <div class="column">
                    {{>  capacity-and-threshold.hbs }}
                </div>
            </div>
            {{> result.hbs }}
        </div>
    </div>
</div>

<h1>Explanation</h1>
This is an easy calculator to estimate the amount of work you can get done during a certain period of time.
Every work task is categorized by its size (called t-shirt size) with the following dimensions:

<table>
    <tr>
        <th>T-Shirt size</th>
        <th>Work amount in PT</th>
    </tr>
    <tr>XXS</tr>
</table>