<section class="section">
    <div class="columns is-centered is-vcentered">
        <div class="column is-narrow">
            <div class="box">
                <h1 class="title">
                    T-Shirt Size Capacity Calculator
                </h1>
                <hr>
                <div class="columns">
                    <div class="column">
                        {{#each t_shirt_sizes}}
                            {{> ui_number_input.hbs
                                    name=name
                                    min="0"
                                    buttons=true}}
                        {{/each}}
                    </div>
                    <div class="column capacity-column">
                        {{> ui_number_input.hbs
                                name="Capacity"
                                buttons=false
                                min="0"
                                unit="PT"
                        }}

                        {{> ui_number_input.hbs
                                name="Threshold"
                                buttons=false
                                min="0"
                                max="100"
                                unit="%"
                        }}
                    </div>
                </div>
                <hr class="hr">
                {{> result.hbs }}
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            {{> explanation.hbs }}
        </div>
    </div>
</section>
