<section class="section">
    <div class="container">
        <h1 class="title">
            Hello World
        </h1>
        <p class="subtitle">
            My first website with <strong>Bulma</strong>!
            <span class="icon">
                          <i class="fas fa-home"></i>
                        </span>
            sdfs
        </p>
    </div>
</section>
<div class="columns is-centered">
    <div class="column is-narrow">
        <div class="box">
            <div class="columns">
                <div id="t-shirt-column" class="column">
                    {{> t_shirt_input.hbs t_shirt_size="XXS" }}
                    {{> t_shirt_input.hbs t_shirt_size="XS" }}
                    {{> t_shirt_input.hbs t_shirt_size="S" }}
                    {{> t_shirt_input.hbs t_shirt_size="M" }}
                    {{> t_shirt_input.hbs t_shirt_size="L" }}
                </div>
                <div class="column">
                    {{>  capacity-and-threshold.hbs }}
                </div>
            </div>
            {{> result.hbs }}
        </div>
    </div>
</div>