<div class="field  is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="capacity">Capacity</label>
    </div>
    <div class="control">
        <input id="capacity" class="input" type="number" value="0">
    </div>
</div>

<div class="field  is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="threshold">Threshold</label>
    </div>
    <div class="control">
        <input class="slider is-fullwidth" type="range" id="threshold" name="volume" min="0" max="100"/>
    </div>
</div>

