<h1 class="title">Explanation</h1>
<p class="block">
This is an easy calculator to estimate the amount of work you can get done during a certain period of time.
Every work task is categorized by its size (called t-shirt size) with the following dimensions:
</p>
<div class="columns is-centered">
    <div class="column is-half">
        <div id="t_shirt_table" class="table-container"></div>
    </div>
</div>