<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>My First Parcel App</title>
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/5efd875eb0.js"></script>
    </head>
    <body>
        {{> body.hbs }}
        <script src="index.js" type="module"></script>
    </body>
</html>