<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Minimum</p>
            <p class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Maximum</p>
            <p class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Min Capacity</p>
            <p class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Success Probability</p>
            <p class="title">0 %</p>
        </div>
    </div>
</nav>