<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Minimum [PT]</p>
            <p
                    id="minimum"
                    class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Maximum [PT]</p>
            <p
                    id="maximum"
                    class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Third Quartile [PT]</p>
            <p
                    id="third_quartile"
                    class="title"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Min Capacity [PT]</p>
            <p id="min_capacity" class="title">0</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Success Probability</p>
            <p
                    id="success_probability"
                    class="title">NaN %</p>
        </div>
    </div>
</nav>
<hr class="hr">
<div id="histogram"></div>